<a href="https://colab.research.google.com/github/leadeev/Python/blob/main/2_6_Python_and_dictionaries_l%C3%A9a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Below is a dictionary containing the number of French campuses that offer each kind of Wild Code School course.

wildcodeschool = {
   "data_analyst": 4,
   "data_scientist": 2,
   "dev_web": "13" 
}

Find a way to only display the keys that have int values.

In [2]:
#Vous trouverez ci-dessous un dictionnaire contenant le nombre de campus français 
#qui proposent chaque type de cours de la Wild Code School.
#wildcodeschool = { "data_analyst" : 4, "data_scientist" : 2, "dev_web" : "13" }
#Trouvez un moyen d'afficher uniquement les clés qui ont des valeurs int.
#JSON ( Java Script Objet Nottaison) est un format de données utilisé pour représenter des données structurées

import json
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}

for metier in wildcodeschool:
  if type(wildcodeschool[metier]) == int:
    print(wildcodeschool[metier])

4
2

# Mission 2

For the same dictionary, find a way to display all the values that have a key that contains the letter "e".

In [4]:
#Pour le même dictionnaire, trouvez un moyen d'afficher toutes les valeurs dont la clé contient la lettre "e".

wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}
for metier in wildcodeschool:
  for letter in metier:
    # if letter == "e": OU
    if letter.find("e") >= 0:
      print(metier)
      break

data_scientist
dev_web

# Mission 3

Within the same dictionary, change the type of the value of the "dev_web" key to be an int. Then add a new key-value pair which will be "total_campus" : 19, using a **dictionary method**.

In [5]:
#Dans le même dictionnaire, modifiez le type de la valeur de la clé "dev_web" pour qu'elle soit un int. 
#Ajoutez ensuite une nouvelle paire clé-valeur qui sera "total_campus" : 19, en utilisant une méthode de dictionnaire.

wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}
wildcodeschool["total_campus"] = 19
wildcodeschool["dev_web"] = int(wildcodeschool["dev_web"])
print(wildcodeschool)

{'data_analyst': 4, 'data_scientist': 2, 'dev_web': 13, 'total_campus': 19}

# Mission 4

Take the dictionary generated from mission 3. Delete the key value pair :
- 'dev_web': 13 using a method
- 'total_campus': 19 using another method

In [6]:
#Prenez le dictionnaire généré par la mission 3. Supprimez la paire clé-valeur :
#'dev_web' : 13 en utilisant une méthode
#'total_campus' : 19 en utilisant une autre méthode

wildcodeschool = {
    'data_analyst': 4,
    'data_scientist': 2,
    'dev_web': 13,
    'total_campus': 19
}
wildcodeschool.pop("dev_web")
del wildcodeschool["total_campus"]
print(wildcodeschool)

{'data_analyst': 4, 'data_scientist': 2}

# Mission 5

Still within the dictionary generated from Mission 3, find a way to display the dictionary keys in alphabetical order.

In [7]:
#Toujours dans le dictionnaire généré par la mission 3, 
#trouvez un moyen d'afficher les clés du dictionnaire par ordre alphabétique.

wildcodeschool = {
    'total_campus': 19,
    'data_analyst': 4,
     'dev_web': 13,
    'data_scientist': 2
}
print(sorted(wildcodeschool))

['data_analyst', 'data_scientist', 'dev_web', 'total_campus']

# Mission 6

Create a script that returns the same elements as the **values()** method, as a list.

Example: for `{'a': 1, 'b': 2, 'c': 3}` it will create `[1, 2, 3]`

In [ ]:
#Créez un script qui renvoie les mêmes éléments que la méthode values(), sous forme de liste.
#Exemple : pour {'a' : 1, 'b' : 2, 'c' : 3}, il créera [1, 2, 3].

my_object = {'a': 1, 'b': 2, 'c': 3}
list = []
for i in my_object:
  list.append(my_object[i])

print(list)