<a href="https://colab.research.google.com/github/leadeev/Python/blob/main/Python_Shorthand_syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Une fonction qui convertit des montants en dollars vers des montants en euros (prends le cours euro/dollar du jour où tu fais la quête).**

In [ ]:
euro = 1.02
(lambda montant : montant*euro)(20)

20.4

**Une fonction qui renvoie la somme des nombres pairs présents dans une liste contenant des nombres entiers.**

In [1]:
# Première méthode

list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

sum([nombre for nombre in list if nombre %2 == 0])

72

In [ ]:
# Deuxième methode

sum(filter(lambda nombre: nombre % 2 == 0, list))

72

**Une fonction qui convertit une liste de nombres entiers positifs ou négatifs) en une nouvelle liste contenant leurs valeurs absolues.**

In [ ]:
test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]

[abs(nombre) for nombre in test_list]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]